/* NAV */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
}
nav {
    background: rgb(16, 196, 237);
    padding: 0 15px;
}
a {
    color: white;
    text-decoration: none;
    
}
.menu {   
    list-style-type: none;
}
.logo {
    font-size: 18px;
    padding: 7.5px 5px 7.5px 0;
}
.item {
    padding: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Mobile */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}

.item {
    /* order: 1; */
    width: 100%;
    text-align: center;
    
}
.active .item {
    display: block;
}

/* iPad */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    /* .logo {
        
    } */
    .item.button {
        width: auto;
        display: block;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
}

/* Desktop */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    /* .logo {
        order: 1;
    } */
    .item {
        /* order: 0; */
        position: relative;
        display: block; 
        width: auto;
    }
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px
}

.main-image{
    height:400px;
    width:400px;
    mix-blend-mode: multiply;
}

/* HOME PAGE */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display:flex;
    align-content: center;
    align-items:center;
    margin: 50px;
}
.emblem {
    margin:100px;
}

.profile-img{
    margin-left: 100px;
    margin-right: 100px;
}
.img-thumbnail{
    height: 300px;
    width:400px;
    margin: 25px;
}
.img-profile{
    height: 450px;
    width:400px;
    margin: 25px;
}

.bio {
    /* margin-left: 100px; */
    margin-right: 100px;
}
@keyframes colorChange{
    0%{
        background-color:blanchedalmond;
    }

    50% {
        background-color:tomato
    }

    100% {
        background-color:blanchedalmond;
    }
}
.home {
    animation-name: colorChange;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

/* CONTACT PAGE */
.flexForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    
}

textarea, input [type=text]{
    resize: none;
    height: 200px;
    width: 100%;
    padding: 13px;
    border: 1px dotted #ccc;
    border-radius: 8px;
    box-sizing:border-box;
    margin-top:5px;
    margin-bottom:20px;

}


.flexForm li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
 
}

/* GALLERY PAGE */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 300px;
    height:200px;
    margin: 35px;
}
.card:hover .card-content{
    display: block;
    opacity: 1;
    position: relative;
    Top: 100%;
    
}

.card-content{
    opacity: 0;
    background-color: salmon;
    position: relative;
    transition:all .2s;
    Top: 90%;
}
#first-card{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-image: url("/assets/Soundschnobscreenshot.jpg");
    background-size: 100%;
    background-position: center;
    transition:all .5s;

}
#first-card:hover{
    background-image: url("/assets/Soundschnobscreenshot.jpg");
    background-size: 250%;
    background-position: center;

}

#second-card{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-image: url("/assets/plannerImg.jpg");
    background-size: 100%;
    background-position: center;
    transition:all .5s;

}
#second-card:hover{
    background-image: url("/assets/plannerImg.jpg");
    background-size: 250%;
    background-position: center;

}

#third-card{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-image: url("/assets/pokebatexImg.jpg");
    background-size: 100%;
    background-position: center;
    transition:all .5s;

}
#third-card:hover{
    background-image: url("/assets/pokebatexImg.jpg");
    background-size: 250%;
    background-position: center;

}

#fourth-card{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-image: url("/assets/despensa-landing-page.jpg");
    background-size: 100%;
    background-position: center;
    transition:all .5s;

}
#fourth-card:hover{
    background-image: url("/assets/despensa-landing-page.jpg");
    background-size: 250%;
    background-position: center;

}